:root {
    --trashRed: #fb9a9a;
    --primaryGrey: #cccccc; 
    --primaryPurple: #646fd4;
}

body {
    background-color: var(--primaryGrey);
    height: 100vh;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer {
    box-shadow: 0 4px 8px rgba(0,0,0.2);
    width: 300px;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.mainContainer ul {
    list-style-type: none;
    padding:0;
}

.newTaskInput {
    width: auto;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 30px;
}

#taskInput {
    border: 2px solid var(--primaryGrey);
    border-radius: 5px;
    padding: 5px;
    flex: auto;

}

#addTaskButton{
    background-color: var(--primaryPurple);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

#addTaskButton:hover {
    background-color: #5a5a5a;
}

#addTaskButton:active {
    background-color: green;
    box-shadow: inset 4px 4px 5px #000000;
}

.deleteButton {
    color: var(--trashRed);
    margin-left: auto;
    cursor: pointer;
    padding: 5px;
    border: none;
    border-radius: 5px;
}
.deleteButton:hover {
    background-color: var(--trashRed);
    color: green;
}
